/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.sr-show {
    background-color: black;
}
.show_wrapper {
    right: 0;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1300px;
    position: relative;
    
}

.show_wrapper .vessels-table {
    font-size: 20px;
}

.show_wrapper .vessels-table tbody{
    font-size: 25px;
}

.show_wrapper > .vessels-table > thead > tr > th {
       padding: 10px  0 4px;
}

.show_wrapper .vessels-table tbody tr td:first-child {
    font-size: 20px;
}

.show_wrapper .vessels-table thead tr th:nth-child(4) {
    width: 150px;
}

.show_wrapper .vessels-table thead tr th:nth-child(5) {
    width: 150px;
}

.show_wrapper .vessels-table thead th:nth-child(3) {
    width: 6em;
}

/*.show_wrapper .vessels-table thead th:nth-child(7) {
    width: 4em;
}*/

.show_wrapper .vessels-table tbody tr.opdate {
    color: green;
}

.show_wrapper .vessels-table tr.odd {
    background: rgba(27, 27, 27, 1);
}

.show_wrapper .vessels-table tr.even {
    background: rgba(27, 27, 27, 1);
}

.show_wrapper .vessels-table thead th,
.show_wrapper .vessels-table tbody td {
    text-align: center;
}

.show_wrapper .edit_link:hover {
    text-decoration: underline;
    color: darkcyan;
}

.show_wrapper .vessels-table .td-slider {
    margin-top:5px;
    margin-bottom: 5px;
}
.show_wrapper > .vessels-table > tbody > tr > td{
       padding: 5px;
}